body {
    font-family: sans-serif;
    margin: 30px;
    background: #fafafa;
}

h1 {
    font-family: cursive;
    color: purple;
    text-shadow: 3px 3px 5px yellow;
}

section img {
    margin: 20px 40px 20px 0;
    vertical-align: middle;
}